$custom-brand-color: #409EFF;

.label-info, .badge-info{
    background: $custom-brand-color;
}
.badge {
    margin-left:5px;
}
.nav-pills{
    li{
        a{
            padding: 5px 8px;
        }
    }
    .active{
        a{
            .badge{
                color:#fff;
                background: $custom-brand-color;
            }
        }
    }
}

// 定制样式
.py-nav{
    display:inline-block;
}

// 定制通用展开面板样式
.custom-collapse{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom:10px;
    .el-collapse-item.is-active{
        &:last-child {
            margin-bottom:-1px;
        }
    }
    .el-collapse-item{
        &:last-child {
            margin-bottom:0;
        }
        >div{
       
            &[role="tab"]{
                border:none;
                >div[role="button"]{
                    background-color: #f5f5f5;
                    border:none;
                    color: #222;
                    padding:0 15px;
                    font-weight:bold;
                }
            }
        }
        .el-collapse-item__wrap{
            border-top:1px solid #e5e5e5;
            padding: 9px 15px;
            .el-collapse-item__content{
                padding-bottom:0;
                .el-form-item {
                    margin-bottom:0;
                    .el-form-item__label{
                        font-weight:bold;
                        color:#222;
                    }
                }
            }
        }
    }
}

// 定制表单中的公共样式
.right-beside-btn{
    position:relative;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    background-color:#f5f5f5;
    margin-left:-4px;
}

.custom-form-item-label-top{
    >label{
        display:block;
        width:100%;
    }
}

